# Start configuration added by Zim install {{{

# Modules
# --------------------------------------------------------------------------------------------------
# Syntax highlighting and autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting --source fast-syntax-highlighting.plugin.zsh
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

# Prompt and environment
zmodule environment
zmodule input
zmodule termtitle
zmodule run-help
zmodule git
zmodule git-info

# Utilities and tools
zmodule utility
zmodule homebrew
zmodule archive
zmodule direnv
zmodule fzf
zmodule Aloxaf/fzf-tab
zmodule wookayin/fzf-fasd
zmodule sunlei/zsh-ssh
#zmodule wfxr/forgit
zmodule MichaelAquilina/zsh-you-should-use
zmodule greymd/docker-zsh-completion
zmodule joke/zim-github-cli

# Theme
zmodule eriner
zmodule prompt-pwd

# Completion
# --------------------------------------------------------------------------------------------------
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zx2c4/password-store --fpath src/completion

# }}} End configuration added by Zim install
